@addTagHelper * ,Microsoft.AspNetCore.Mvc.TagHelpers
@addTagHelper * , NETCoreMVC_Notlarim
@using NETCoreMVC_Notlarim.Extensions
@* @model NETCoreMVC_Notlarim.Models.ViewModels.UserProduct

<h3>@Model.Product.ProductName</h3>
<h3>@Model.User.Name</h3> *@

@model (NETCoreMVC_Notlarim.Models.Product p, NETCoreMVC_Notlarim.Models.User u)

<h3>@Model.p.ProductName</h3>
<h3>@Model.u.Name</h3>

@*@Html.Partial("~/Views/Product/Partials/ListPartial.cshtml") ILE LISTPARTIAL.CSHTML DE RENDER EDILIR
    BURAYA GELEN VERILERDE LISTPARTIAL.CSHTMLE TASINIR ORNEK CONTROLLERDE ;
    ViewBag.Mesaj = "MERHABA"; YAZARSAK LISTPARTIAL.CSHTMLDE CAGIRABILIRIZ.
    MESELA VIEWDE USER MODELI IKEN PARTIALVIEWDE USER MODELI KULLANMAK ISTERSEK;
    @Html.Partial("~/Views/Product/Partials/ListPartial.cshtml", new User())
    @Html.CustomTextBox("txtCustomAdi",null,"Adiniz")
*@

@* @Html.BeginForm("Index","Product",FormMethod.Post);
<form asp-action="Index" asp-controller="Product" method="post">

    @Html.TextBox("txtBox")
    <input type="text"/>
   
    <cache>
        Cache : @DateTime.Now
    </cache>
    <partial name="~ /Views/Product/Partials/ListPartial.cshtml"></partial>
</form> *@

    <a href="mailto:furkananil960@gmail.com">email</a>
    <email a="abc" mail="furkananil960@gmail.com" display="FURKAN ANIL MAILI"></email>